# gradle
.gradle
build/
gradle/
gradlew
gradlew.bat

# forge gradle
out/

# eclipse
eclipse/

# intellij
*.iml
*.ipr
*.iws
.idea/

# server
config/
crash-reports/
logs/
world/
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
usernamecache.json
whitelist.json

saves/
mods/
options.txt
